REALTIME_SERVICE_PORT=8080
REALTIME_NODE_ID=realtime-1
REALTIME_SERVICE_NAME=whispr-realtime-service

REDIS_PORT=6379
REDIS_INSIGHT_PORT=5540

KAFKA_EXTERNAL_PORT=9094
KAFKA_UI_PORT=8081
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
KAFKA_TOPIC=message.enqueued
KAFKA_GROUP_ID_PREFIX=realtime

MAILBOX_GRPC_ADDRESS=http://mailbox:8080
RELAY_GRPC_ADDRESS=http://relay:8080
