REALTIME_SERVICE_PORT=8080
REALTIME_NODE_ID=auto
REALTIME_SERVICE_NAME=whispr-realtime-service

REDIS_PORT=63791
REDIS_INSIGHT_PORT=5541

KAFKA_TOPIC=message.enqueued
KAFKA_GROUP_ID_PREFIX=realtime
KAFKA_BOOTSTRAP_SERVERS=host.docker.internal:9092

MAILBOX_GRPC_ADDRESS=http://host.docker.internal:8443
RELAY_GRPC_ADDRESS=http://host.docker.internal:9000
